
/* 
    Created on : 14/11/2022, 10:36:30 p. m.
    Author     : duber
*/
*,*::before, *::after{
    margin: 0px;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
   
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;    
}

body{
    background-image: url('https://fondosmil.com/fondo/6725.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header{
    height: 100px;
    background: rgb(250, 248, 248, 0.8);
    padding: 0 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}

div img{
 width: 140px;
 border-radius: 20px;
}


.menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding:  20px;
    transition: 0.4s;
    border-radius: 30px;
    border: 1px solid #26e6f4;
    background: #f1e9e9  ;
    
}

.menu a{
    margin: 10px;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover,
.container a:hover{

    background: #0be7ee;
}

#check{
    display: none;
}


/*menu principal*/

 h2{
    text-align: center;
    margin: 20px;
    font-size:  30px;
    }
    

    .container{
        width: 100%;
        max-width: 880px;
        background:rgb(250, 248, 248, 0.8);
        padding: 48px;
        margin: 12px auto;
        border-radius: 10px;
        box-shadow: inset -2px 2px 2px rgb(221, 12, 165);
        justify-content: center;
        cursor: pointer;
        display: block;
        
    }
.contenido-menu-principal{
    padding: 30px ;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.contenido-menu-principal div{
    flex: 1;
    margin: 20px 0px;
    border-right:2px solid rgba(245, 239, 239, 0.2);
    
}

#icono-mobile{
    border: none;
}

.contenido-menu-principal div h6{
    color: rgb(17, 16, 16);
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}


.boton-menu-principal{
    text-align: center;
    padding-bottom: 50px;
}

.container a{
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #26e6f4;
    background: #f1e9e9;
    color: black;
    padding: 20px;
}



/*registrate*/

.registrate {
       text-align: right;
       margin: 40px;
       
}

.registrate a {
    text-decoration: none;
    color: blue;  
  
}

.registrate p{
    color: black;
}

.registrate a:hover{
    background: #0be7ee;
    border-radius: 20px;
    border: 1px solid black;
}

/*footer*/

div footer{
    width: 100%;
    background: rgb(250, 248, 248, 0.8);
    text-align: center;
    padding: 15px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
}





/*resposive*/

@media (max-width: 768px){
    /* header*/ 
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;
      
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }

    .main{
        flex-direction: column;
    }

    /*iconos*/

    .contenido-iconos{
        flex-direction: column;
    }

    .contenido-iconos div{
        border: none;
    }

}


